.container {
    height: 100%;
    width: 100%;
    /* Set the container height to fill the viewport */
    overflow: hidden;
    margin-top: 1rem;
    padding: 30px;

}

.brand-grid {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    grid-auto-rows: minmax(10px, auto);
    gap: 15px;
    overflow: hidden;
    position: relative;

}

.brand-img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    opacity: 0;

    animation: fadeIn 1s ease-in-out;
    transition: transform 0.3s ease;
    animation-fill-mode: both;

}

.brand-img:hover {
    transform: scale(1.1);
    /* Increase the size by 10% on hover */
    transition: transform 0.5s ease-in-out;
    transform: perspective(1000px) rotateY(20deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    opacity: 1;
    cursor: pointer;

}

.spinner-container {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* Circular button for pop-out */
.popup-button {
    position: fixed;
    bottom: 50%;
    right: 1%;
    background-image: url('../../assets/images/bugs.png');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    z-index: 500;
    border: 3px solid white;


    display: flex;
    flex-direction: column;
}

.popup-button:hover {
    transform: scale(1.1);
    /* Increase the size by 10% on hover */
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.popup-button.active {
    transform: scale(0.8);
    opacity: 0;
    box-shadow: none;
    /* Remove display: none; */
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 42px;
    cursor: pointer;
    background-color: transparent;
    color: #333;
}

/* Styles for the pop-out sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -25%;
    width: 25%;
    height: 100%;
    background-color: #f0f0f0;
    overflow-y: auto;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 999;
    border-radius: 10px 0 0 10px;
}

.sidebar-expanded {
    right: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.ai-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}




app-chatbot {
    padding: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tilt {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(10deg);
    }
}

/* Define the pop-out animation */
@keyframes pop-out {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}