<div class="modal-container">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="holder">
      <div class="left-side">
        <div class="img-container">
          <img
            [src]="selectedBrand?.image"
            [alt]="selectedBrand?.name"
            class="modal-img"
          />
        </div>
        <h1 class="modal-title">{{ selectedBrand?.name }}</h1>
        <div class="text-container">
          <p>
            <strong>Founding Year:</strong> {{ selectedBrand?.founding_year }}
          </p>
          <p><strong>Founder:</strong> {{ selectedBrand?.founder }}</p>
          <p><strong>CEO:</strong> {{ selectedBrand?.CEO }}</p>
          <p>
            <strong>Board of Directors:</strong>
          </p>
          <div
            class="director-container"
            style="background-color: #fff; flex-wrap: wrap; flex-direction: row"
          >
            <div
              *ngIf="isString(selectedBrand?.board_of_directors)"
              style="background-color: #fff"
            >
              <p style="font-weight: normal; background-color: #fff">
                {{ selectedBrand?.board_of_directors }}
              </p>
            </div>
            <div
              *ngIf="!isString(selectedBrand?.board_of_directors)"
              class="director-container"
            >
              <div
                class="directors"
                style="
                  flex-direction: row !important;
                  flex-wrap: wrap !important;
                  background-color: #fff;
                "
                *ngFor="let member of selectedBrand?.board_of_directors"
              >
                {{ member }}&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-container">
        <div class="brand-details">
          <p>{{ selectedBrand?.description }}</p>
          <strong>Location:</strong>
          <p>{{ selectedBrand?.location }}</p>
          <strong>History:</strong>
          <p>{{ selectedBrand?.history }}</p>
          <strong>Number of Employees:</strong>
          <p>{{ selectedBrand?.number_of_employees }}</p>
          <strong>Revenue Information:</strong>
          <p>{{ selectedBrand?.revenue_information }}</p>
          <strong>Popular Brand Content:</strong>
          <p>
            <span *ngFor="let content of selectedBrand?.popular_brand_content">
              {{ content }}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
