<div class="chat-container">
  <div class="sidebar-header">
    <div class="img-container">
      <img src="../../assets/images/bugsbunny.png" alt="bugs bunny" />

      BUGS BUNNY AI CHAT BOT
    </div>
  </div>
  <div class="message-container">
    <!-- Display chat messages -->
    <ng-container *ngFor="let message of chatMessages">
      <div
        [ngClass]="{
          'user-message': message.isUser,
          'chatbot-message': !message.isUser
        }"
      >
        {{ message.text }}
      </div>
    </ng-container>
    <!-- Loader animation -->
    <div *ngIf="isLoading" class="loader"></div>
  </div>

  <!-- User input prompt -->
  <div class="input-container">
    <input
      [(ngModel)]="userMessage"
      (keydown.enter)="sendMessage()"
      placeholder="Type your message..."
    />

    <button (click)="sendMessage()" style="font-size: 24px">Send</button>
  </div>
</div>
